[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    required = true
[credential]
    helper = store
[push]
    default = simple
[alias]
    aa = add --all
    b = branch
    ba = branch --all
    changes = diff --name-status
    c = commit
    ca = commit --all
    camend = commit --amend
    can = commit --amend --no-edit
    cm = commit -m
    cma = commit --all -m
    co = checkout
    dic = diff --cached
    dis = diff --stat
    l = log --all --graph --color --date=short --format='%C(auto)%h (%an) [%ad, %ar] %s %d'
    pf = push --force
    s = status
    ps = -p status
    undo = reset --soft HEAD^
    name = !basename `git rev-parse --show-toplevel`
    mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -
[user]
    name = clearlybaffled
    email = clearlybaffled120@gmail.com

[include]
  path = ~/.gitconfig-local
